<section class="pagina-produtos">
  <header class="cabecalho-produtos">
    <div>
      <h2>Produtos</h2>
      <p>Escolha os produtos e adicione-os ao carrinho</p>
    </div>
    <button mat-stroked-button color="primary" type="button" routerLink="/carrinho"> Ver carrinho | {{carrinhoFacade.quantidadeCarrinho()}}</button>
  </header>

  
<h2>Produtos:</h2>
  @if (carregando()) {
    <p>Carregando produtos...</p>
  }

@if (erro()) {
  <section class="mensagem-erro">
    <p>{{ erro ()}}</p>
    <button mat-stroked-button color="primary" (click)="carregarProdutos()">Tentar Novamente</button>

  </section>
}


  @if (!carregando() && !erro()) {
    <section class="resumo-produtos">
      <p><strong>Total de produtos: </strong>{{totalProdutos()}}</p>
      <p><strong>Valor total dos produtos</strong>R$ {{valorTotalFormado()}}</p>
    </section>
    <hr/>
    <section class="grind-produtos">
      @for(item of produtos(); track $index){
        <app-produto
        [nome] = "item.nome"
        [preco] = "item.preco"
        (produtoSelecionado)="exibirProduto($event)"
        (produtoAdicionado)="adicionarAoCarrinho($event)"
        >

        </app-produto>
      }
    </section>
  }
<!--<hr>
<section class="produto-selecionado">
  <h3>Produto Selecionado</h3>
  @if(produtoSelecionado()){
    <p class="texto-sucesso">
      <strong>{{produtoSelecionado()}}</strong>
    </p>
  }@else {
    <p class="texto-neutro">
      <strong>Nenhum Produto Selecionado</strong>
    </p>
  }
</section>-->

</section>
<br>
<section class="rodape">
  <div>

  </div>
</section>
