  <h2>Produtos:</h2>
  @if (carregando()) {
    <p>Carregando produtos...</p>
  }

  @if (erro()) {
    <div class="container-erro">
      <p style="color: rgb(174, 0, 255);">
        {{ erro() }}
      </p>
      <button (click)="carregarProdutos()">Tentar novamente</button>
    </div>
  }

  @if (!carregando() && !erro()) {
    <h2>Total de produtos: {{ totalProdutos() }}</h2>

    <section class="grid-produtos"> 
       @for (item of produtos(); track item.nome) {
      <app-produto
        [nome]="item.nome"
        [preco]="item.preco"
        (produtoAdicionado)="adicionarAoCarrinho($event)"
        (produtoSelecionado)="exibirProduto($event)"
      ></app-produto>
    }
  </section>
   
  }
  
<section>
  <hr />
  <h2>Carrinho:</h2>
  @for (item of carrinhoService.itens(); track $index) {
    <p>{{ item.nome }} -{{ item.preco.toFixed(2) }}</p>
  }
  <p><strong>Itens no carrinho:</strong> {{ carrinhoService.quantidadedeitens() }}</p>
  <p><strong>Total do Carrinho:</strong> {{ carrinhoService.totalitens() }}</p>
</section>