<section class="pagina-favoritos">
    
  <h2>Produtos Favoritos</h2>

  @if (favoritos().length ===0) {
    <p>Não tem nenhum produto favorito adicionado!</p>

    <button mat-raised-button color="primary" routerLink="/produto">Voltar para Produtos.</button>
  } @else {
    <section class="lista-carrinho">
      @for (item of favoritos(); track item) {
        <article class="item-carrinho">
          <div>
            <p class="nome-produto">
              <strong>{{item}}</strong>
            </p>
            <button mat-stroked-button color="warn" type="button" (click)="removerItens(item)">Remover Item</button>
          </div>
        </article>
      }
    </section>

    <section class="resumo-carrinho">
      <h3>Resumo</h3>
      <p>
        <strong>Total de Favoritos: </strong>
        {{ favoritos().length}}
      </p>

    </section>
  }

</section>